@model ESERCIZIOL2.Models.Payment

@{
    ViewData["Title"] = "Aggiungi Pagamenti";
    var employees = ESERCIZIOL2.Models.StaticDb.GetAll();
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mt-5 mb-4">Aggiungi pagamento</h2>
            <form asp-controller="Payment" asp-action="Add" method="post">
                <div class="form-group">
                    <label for="amount">Totale:</label>
                    <input type="text" class="form-control" id="amount" placeholder="Enter amount">
                </div>
                <div class="form-group">
                    <label for="period">Periodo:</label>
                    <input type="text" class="form-control" id="periodoPagamento" placeholder="Aggiungi Mese">
                </div>

                <button type="submit" class="btn btn-primary mt-3">Aggiungi!</button>
            </form>
        </div>
    </div>
</div>