@{
    ViewData["Title"] = "Pagamenti";
}

<div class="text-center">
    <h1 class="display-4">Pagamenti</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID pagamento</th>
            <th scope="col">Totale</th>
            <th scope="col">Periodo Pagamento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var payment in Model)
        {
            <tr>
                <th scope="row">@payment.Id</th>
                <td>@payment.totale.ToString("0.0,0")</td>
                <td>@payment.periodoPagamento</td>

            </tr>
        }
    </tbody>
</table>